.about{
    height: 100%;
    background-color: #bdb390;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

.header{
    font-size: 5vh;
}

.content{
    padding-top: 15px;
    padding-left: 15px;
}

.headerLine{
    width: 3em;
    background-color: orange !important;
    height: 0.7vh !important;
}

@media screen and (max-width: 600px) {
    .header{
        font-size: 4vh;
    }
  }