.about{
    height: 100%;
    background-color: #bdb390;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
.aboutHeader{
    font-size: 2.5vw;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.aboutSummary{
    font-size: 1.5vw;
    font-weight: bold;
}
.info{
    margin-top: 0px !important;
}
.content{
    padding-top: 15px;
    padding-left: 15px;
}
.headerLine{
    width: 6em;
    background-color: orange !important;
    height: 0.7vh !important;
}
.summaryLine{
    width: 6em;
    background-color: orange !important;
    height: 0.5vh !important;
}

@media screen and (max-width: 600px) {
    .content{
        padding-top: 0px;
        padding-left: 15px;
    }
    .aboutHeader{
        font-size: 7.5vw;
    }
    .aboutSummary{
        font-size: 4vw;
    }    
    .info{
        margin-top: 6px !important;
    }
  } 