.aboutSummary{
    font-size: 1.5vw;
    font-weight: bold;
}
.summary{
    font-size: 1vw;
    font-weight: bold;
    margin-top: 4%;
    line-height: 15px;
}
.summaryLine{
    width: 6em;
    background-color: orange !important;
    height: 0.5vh !important;
}

@media screen and (max-width: 600px) {
    .aboutSummary{
        font-size: 4vw;
    }
    .summary{
        font-size: 2vw;
        font-weight: bold;
        line-height: normal;
    }
  } 