.sideBar{
    background-color: black;
    width: 100%;
    height: 100%;
}

.toolbar{
    background-color: black;
}

@media screen and (max-width: 600px) {
    .sideBar{
        display: none !important;
    }
  }

@media screen and (min-width: 600px) {
    .topAppBar{
        display: none !important;
    }
  }