.social {
  vertical-align: bottom;
  height: 250px;
}
.socialIcon {
  height: 20%;
  width: 50%;
  margin-top: 10%;
  color: grey;
}

@media screen and (max-width: 599px) {
  .socialIcon {
    height: 10%;
    width: 10%;
    margin-top: 1%;
  }
  .social {
    height: 100px;
  }
}
