.home{
    height: 100%;
}
.homeTitle  {
    height: 100%;
}
.homeAbout{
  height: 100%;
}
@media screen and (max-width: 600px) {
    .homeTitle{
      height: 60%;
    }
    .homeAbout{
      height: 40%;
    }
  }