.home {
  height: 100%;
  width: 100%;
}
.homeTitle {
  height: 100%;
  width: 100%;
}
.homeBio {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .homeTitle {
    height: 60%;
  }
  .homeBio {
    height: 55%;
  }
}
